@import "./scss_vars/template_variables";
@import "./bootstrap4/mixins/breakpoints";

.home {
  .widgets-h-340 .widget {
    min-height: 340px;

    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }

  .widgets-h-500 .widget {
    min-height: 500px;
  }

  .widget {
    position: relative;

    background-color: $white;

    box-shadow: 0px 5px 10px #00000026;
    border-radius: 8px;

    padding: 1rem;
    margin-bottom: 1rem;

    .w-title {
      font-weight: bold;
      font-size: 1.222222222rem;
      line-height: 1.666666667rem;
      letter-spacing: 0.53px;

      display: flex;
      justify-content: space-between;
    }

    .w-subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: rgba($dark-gray, 0.5);
    }

    .widget-footer {
      // position: absolute;

      display: flex;
      justify-content: center;

      left: 1rem;
      right: 1rem;
      bottom: 1rem;

      padding-top: 0.5rem;
      margin-top: 0.5rem;

      border-top: solid 1px $primary-color;

      a {
        text-decoration: none;
      }
    }

    .widget-fatura {
      letter-spacing: 0.18px;
      margin-top: 2rem;

      .alert-badge {
        position: absolute;
        top: 1rem;
        right: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $orange;

        height: 30px;
        border-radius: 15px;
        padding: 0 15px;
      }

      .wf-label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;

        font-size: 0.666666667rem;
        line-height: 0;
        letter-spacing: 0;

        color: $dark-blue;
      }

      .wf-value {
      }

      .fatura-reference {
        display: flex;
        flex-flow: row nowrap;

        img {
          margin-right: 2.7rem;
        }

        .ref {
          display: flex;
          flex-flow: column nowrap;

          flex: 1;
        }
      }

      .fatura-payment {
        display: flex;
        flex-flow: row nowrap;

        margin-top: 0.5rem;

        > div {
          flex: 1;
          display: flex;
          flex-flow: column nowrap;

          &:first-child {
            margin-right: 1rem;
          }
        }
      }
    }

    &.widget-primary {
      color: $white;
      background-color: $primary-color;

      .w-subtitle {
        color: $dark-blue;
      }

      .widget-footer {
        border-top-color: $dark-blue;

        a {
          color: $white;
        }
      }
    }

    &.with-footer {
      padding-bottom: 3rem;
    }

    &.widget-news {
      display: flex;
      align-items: flex-end;

      background-image: linear-gradient(to bottom, $primary-color, $dark-blue);
      background-size: cover;
      background-position: center;

      height: 292px;

      .widget-news-footer {
        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;
        align-items: flex-end;

        width: 100%;

        .details {
          display: flex;
          flex-flow: column nowrap;
          flex: 1;
        }

        a.view-more {
          position: relative;
          padding-right: 1.4rem;

          &::after {
            position: absolute;

            content: "";
            z-index: 1;
            right: 0.5rem;

            width: 12px;
            height: 12px;

            transform: rotate(45deg);

            clip-path: inset(0 0 20% 20%);

            border: 2px solid #ffffff;
          }

          &:hover {
            &::after {
              border-color: $dark;
            }
          }
        }

        @include media-breakpoint-down(md) {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 1rem;
          background-color: $white;

          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          .text-orange {
            font-size: 1rem !important;
            line-height: 1.75rem !important;
            font-weight: 700;
          }

          .text-white {
            color: $primary-color !important;
            font-size: 1.375rem !important;
            line-height: 1.875rem !important;
          }
        }
      }
    }
  }

  .widgets-spacer {
    height: 2rem;
  }

  .gc-table {
    table thead th {
      box-sizing: content-box;
    }

    table tbody tr {
      td {
        height: 80px;

        .icon-fatura,
        .icon-mail {
          margin-top: 6px;
        }
      }

      &:last-child {
        border-bottom-color: transparent;
      }
    }

    &.hover-2 {
      table tbody tr {
        &:hover {
          td {
            font-weight: 400;

            &:nth-child(2) {
              font-weight: bold;
            }

            .icon-fatura {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' viewBox='0 0 17 20'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230075c9;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-5 -3)'%3E%3Cpath class='a' d='M19.914,23H7.086a2.3,2.3,0,0,1-.773-.154,1.825,1.825,0,0,1-.7-.462,2.684,2.684,0,0,1-.464-.692A2.267,2.267,0,0,1,5,20.923V5.077A2.073,2.073,0,0,1,7.086,3h11.05a.7.7,0,0,1,.541.231l3.168,3.154A1.108,1.108,0,0,1,22,6.923v14A2.073,2.073,0,0,1,19.914,23ZM7.086,4.538a.527.527,0,0,0-.541.538V21.231a.268.268,0,0,0,.077.154c.077.077.077.077.155.077H19.991a.527.527,0,0,0,.541-.538V7.231L17.75,4.538Zm9.5,13.846H10.409a.769.769,0,1,1,0-1.538h6.182a.769.769,0,1,1,0,1.538Zm0-3.077H10.409a.769.769,0,1,1,0-1.538h6.182a.769.769,0,1,1,0,1.538ZM13.5,12.231H10.409a.769.769,0,1,1,0-1.538H13.5a.769.769,0,1,1,0,1.538Z' transform='translate(0)'/%3E%3C/g%3E%3C/svg%3E");
            }

            .icon-mail {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='15.36' viewBox='0 0 20 15.36'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230075c9;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1149 -908)'%3E%3Cpath class='a' d='M19.128,21.36H6.84a3.6,3.6,0,0,1-2.688-1.152A3.6,3.6,0,0,1,3,17.52V9.84A3.6,3.6,0,0,1,4.152,7.152,3.6,3.6,0,0,1,6.84,6H19.128a3.6,3.6,0,0,1,2.688,1.152A3.6,3.6,0,0,1,22.969,9.84v7.68a3.6,3.6,0,0,1-1.152,2.688A3.6,3.6,0,0,1,19.128,21.36ZM6.84,7.536a2.21,2.21,0,0,0-1.613.691A2.21,2.21,0,0,0,4.536,9.84v7.68a2.092,2.092,0,0,0,.691,1.613,2.21,2.21,0,0,0,1.613.691H19.128a2.092,2.092,0,0,0,1.613-.691,2.21,2.21,0,0,0,.691-1.613V9.84a2.092,2.092,0,0,0-.691-1.613,2.21,2.21,0,0,0-1.613-.691Z' transform='translate(1146 902)'/%3E%3Cpath class='a' d='M12.985,16.9a.692.692,0,0,1-.384-.077L3.385,11.45a.85.85,0,0,1-.307-1.075.85.85,0,0,1,1.075-.307l8.832,5.146,8.832-5.146a.791.791,0,1,1,.768,1.382l-9.216,5.376A.692.692,0,0,1,12.985,16.9Z' transform='translate(1145.999 901.082)'/%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }

  .icon-fatura {
    display: inline-block;
    width: 17px;
    height: 20px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' viewBox='0 0 17 20'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234d535c;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-5 -3)'%3E%3Cpath class='a' d='M19.914,23H7.086a2.3,2.3,0,0,1-.773-.154,1.825,1.825,0,0,1-.7-.462,2.684,2.684,0,0,1-.464-.692A2.267,2.267,0,0,1,5,20.923V5.077A2.073,2.073,0,0,1,7.086,3h11.05a.7.7,0,0,1,.541.231l3.168,3.154A1.108,1.108,0,0,1,22,6.923v14A2.073,2.073,0,0,1,19.914,23ZM7.086,4.538a.527.527,0,0,0-.541.538V21.231a.268.268,0,0,0,.077.154c.077.077.077.077.155.077H19.991a.527.527,0,0,0,.541-.538V7.231L17.75,4.538Zm9.5,13.846H10.409a.769.769,0,1,1,0-1.538h6.182a.769.769,0,1,1,0,1.538Zm0-3.077H10.409a.769.769,0,1,1,0-1.538h6.182a.769.769,0,1,1,0,1.538ZM13.5,12.231H10.409a.769.769,0,1,1,0-1.538H13.5a.769.769,0,1,1,0,1.538Z' transform='translate(0)'/%3E%3C/g%3E%3C/svg%3E");
  }

  .icon-mail {
    display: inline-block;
    width: 20px;
    height: 15.36px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='15.36' viewBox='0 0 20 15.36'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234d535c;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1149 -908)'%3E%3Cpath class='a' d='M19.128,21.36H6.84a3.6,3.6,0,0,1-2.688-1.152A3.6,3.6,0,0,1,3,17.52V9.84A3.6,3.6,0,0,1,4.152,7.152,3.6,3.6,0,0,1,6.84,6H19.128a3.6,3.6,0,0,1,2.688,1.152A3.6,3.6,0,0,1,22.969,9.84v7.68a3.6,3.6,0,0,1-1.152,2.688A3.6,3.6,0,0,1,19.128,21.36ZM6.84,7.536a2.21,2.21,0,0,0-1.613.691A2.21,2.21,0,0,0,4.536,9.84v7.68a2.092,2.092,0,0,0,.691,1.613,2.21,2.21,0,0,0,1.613.691H19.128a2.092,2.092,0,0,0,1.613-.691,2.21,2.21,0,0,0,.691-1.613V9.84a2.092,2.092,0,0,0-.691-1.613,2.21,2.21,0,0,0-1.613-.691Z' transform='translate(1146 902)'/%3E%3Cpath class='a' d='M12.985,16.9a.692.692,0,0,1-.384-.077L3.385,11.45a.85.85,0,0,1-.307-1.075.85.85,0,0,1,1.075-.307l8.832,5.146,8.832-5.146a.791.791,0,1,1,.768,1.382l-9.216,5.376A.692.692,0,0,1,12.985,16.9Z' transform='translate(1145.999 901.082)'/%3E%3C/g%3E%3C/svg%3E");
  }

  .chart .apexcharts-toolbar {
    display: none;
  }

  .chart-leitura-container {
    position: relative;
    margin-top: -10px;

    .cl-hollow,
    .cl-bottom {
      position: absolute;
    }

    .cl-hollow {
      top: 75px;
      width: 100%;

      display: flex;
      flex-flow: column nowrap;

      align-items: center;
      justify-content: center;

      > div {
        font-size: 1.888888889rem;
        font-weight: bold;
        line-height: 1;

        > span {
          font-size: 0.666666667rem;
        }
      }

      > span {
        font-size: 0.666666667rem;
        font-weight: bold;
        line-height: 30px;
      }
    }

    .cl-bottom {
      bottom: 0;
      width: 100%;

      display: flex;
      flex-flow: column nowrap;

      justify-content: center;
      align-items: center;

      font-size: 0.666666667rem;
      line-height: 1.111111111rem;

      .value {
        font-weight: bold;
      }
    }
  }
}
