@import "./scss_vars/template_variables";
@import "./bootstrap4/mixins/breakpoints";

$footer-height: 50px;

html,
body,
.backoffice {
  height: 100%;
}

.login-logo {
  position: absolute;
  left: 5%;
  top: 3%;
  z-index: 1;
}

.bg-login {
  background-image: url(../img/bg_login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box-container {
  padding-bottom: $footer-height;

  .login-box {
    display: flex;
    justify-content: center;
    // align-items: center;

    width: 100%;
    background-color: $white;

    padding-top: 15%;

    overflow: auto;

    > .row {
      width: 80%;
      min-width: 500px;
    }

    .nav-tabs {
      border-bottom: none;

      .nav-link {
        background: white;
        font-weight: 700;
        color: $primary-color;
        padding: 0.5rem 2rem;
      }

      .nav-item.show .nav-link,
      .nav-link.active {
        border: none;
        border-bottom: solid 2px $primary-color;
      }

      .nav-link:not(.active):focus,
      .nav-link:not(.active):hover {
        border-color: transparent;
        color: $primary-color;
      }
    }

    .tab-content {
      margin-bottom: 1rem;
    }

    .recover {
      display: flex;
      align-items: center;
      margin-bottom: 1.3rem;
      color: inherit;
    }

    /* Mobile responsiveness */
    @include media-breakpoint-down(md) {
      padding-top: 110px;

      .row {
        width: 100%;
        min-width: auto;

        h1 {
          font-size: 1.25rem;
          line-height: 1.8125rem;
          letter-spacing: 0px;
          width: 75%;
        }
      }
    }
  }
}

.login-footer {
  position: fixed;
  display: flex;

  bottom: 0;
  z-index: 1;

  width: 100%;
  height: $footer-height;

  align-items: center;

  background-color: $dark;
  color: rgba($white, 0.7);
}
